name: python-win-11-arm64

on:
  workflow_dispatch:


jobs:
    
  
  test:
    name: Test-macos
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-11-arm]
        python-version: [3.12.10,3.12.9,3.13.4,3.13.5,3.13.7]
        
        
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'arm64'
        
          
    
        
